In [28]:
import pandas as pd #for reading the dataset
import matplotlib.pyplot as plt #for plotting the results
import pwlf

In [29]:
cd C:\Users\chakizimana\Documents\GitHub\india_analysis\analysis

C:\Users\chakizimana\Documents\GitHub\india_analysis\analysis

In [30]:
# reading the dataset
data = pd.read_excel('data/data.xlsx',skiprows=2)

In [31]:
data = data.dropna(how='all',axis=1)

In [32]:
data

    Year  Liver Cancer
0   2021      24772.59
1   2020      23931.29
2   2019      23411.58
3   2018      22847.51
4   2017      22202.06
5   2016      21391.19
6   2015      19966.68
7   2014      19031.94
8   2013      18454.65
9   2012      17785.40
10  2011      17095.02
11  2010      16188.11

In [38]:
data['previous'] = data['liver cancer'].shift(1)
#df['result'] = df['liver'] - df['previous']
data['difference']

      year  liver cancer  previous
0   2021.0      24772.59       NaN
1   2020.0      23931.29  24772.59
2   2019.0      23411.58  23931.29
3   2018.0      22847.51  23411.58
4   2017.0      22202.06  22847.51
5   2016.0      21391.19  22202.06
6   2015.0      19966.68  21391.19
7   2014.0      19031.94  19966.68
8   2013.0      18454.65  19031.94
9   2012.0      17785.40  18454.65
10  2011.0      17095.02  17785.40
11  2010.0      16188.11  17095.02

In [34]:
data.columns

Index(['Year', 'Liver Cancer'], dtype='object')

In [35]:
data.columns = data.columns.str.lower()

In [36]:
data[['year','liver cancer']] = data[['year','liver cancer']].astype(float)

In [37]:
# Initialize piecewise linear fit
model = pwlf.PiecewiseLinFit(data['year'], data['liver cancer'])

# Specify the number of segments (joinpoints + 1)
n_segments = 2

# Fit the model
breakpoints = model.fit(n_segments)

# Predict the fitted values
#fitted_values = model.predict(data['year'])

# Display the breakpoints
print("Breakpoints (Joinpoints):", breakpoints)
print("Segment Slopes:", model.slopes)

Breakpoints (Joinpoints): [2010.        2017.9747301 2021.       ]
Segment Slopes: [841.66226327 629.4950039 ]